{{ define "main" }}

  <article class="l-constrained">
    <div class="l-center l-constrained-text">
      <h2>{{ .Title }}</h2>
      {{ .Content }}
    </div>

    <div class="l-divider">
      <section class="l-grid l-grid-images">
          <div class="l-grid-item">
            <a class="collection-image" href="/img/collections/IMG_5701.jpg">
              <img src="/img/collections/IMG_5701-thumb.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="/img/collections/IMG_5707.jpg">
              <img src="/img/collections/IMG_5707-thumb.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="/img/collections/IMG_5732.jpg">
              <img src="/img/collections/IMG_5732-thumb.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="/img/collections/IMG_6033.jpg">
              <img src="/img/collections/IMG_6033-thumb.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="/img/collections/IMG_6155.jpg">
              <img src="/img/collections/IMG_6155-thumb.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="/img/collections/IMG_6195.jpg">
              <img src="/img/collections/IMG_6195-thumb.jpg">
            </a>
          </div>
      </section>
    </div>
  </article>

{{ end }}
