{{ define "main" }}

  <article class="l-constrained">
    <div class="l-center l-constrained-text">
      <h2>{{ .Title }}</h2>
      {{ .Content }}
    </div>

    <div class="l-divider">
      <section class="l-grid l-grid-images">
          <div class="l-grid-item">
            <a class="collection-image" href="{{ $.Site.Params.cloudinary }}IMG_5701.jpg">
              <img src="{{ $.Site.Params.cloudinary }}w_480/IMG_5701.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="{{ $.Site.Params.cloudinary }}IMG_5707.jpg">
              <img src="{{ $.Site.Params.cloudinary }}IMG_5707.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="{{ $.Site.Params.cloudinary }}IMG_5732.jpg">
              <img src="{{ $.Site.Params.cloudinary }}IMG_5732.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="{{ $.Site.Params.cloudinary }}IMG_6033.jpg">
              <img src="{{ $.Site.Params.cloudinary }}IMG_6033.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="{{ $.Site.Params.cloudinary }}IMG_6155.jpg">
              <img src="{{ $.Site.Params.cloudinary }}IMG_6155.jpg">
            </a>
          </div>
          <div class="l-grid-item">
            <a class="collection-image" href="{{ $.Site.Params.cloudinary }}IMG_6195.jpg">
              <img src="{{ $.Site.Params.cloudinary }}IMG_6195.jpg">
            </a>
          </div>
      </section>
    </div>

    <section class="l-center l-divider">
      <h2>{{ .Params.subtitle }}</h2>
      {{ range where .Site.Pages.ByTitle "Section" "faq" }}
        {{if .Content}}
          <article class="l-constrained-text l-article">
            <h3>{{ .Title }}</h3>
            {{ .Content }}
          </article>
        {{ end }}
      {{ end }}
    </section>

  </article>

{{ end }}
