{{ define "main" }}
  <article class="l-constrained l-center">
    <h2 class="l-constrained-header">{{ .Title }}</h2>
    <ul class="address">
      <li>+46 (0)46 276 90 06</li>
      <li>Kastanjegatan 13, 223 59, Lund</li>
      <li>info@hemmlis.se</li>
    </ul>
  </article>
  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.5415151950747!2d13.197004815696195!3d55.69695850376537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465397c1a3fb92cf%3A0x2258a28bb36a4f67!2sStenkrossen!5e0!3m2!1ssv!2sse!4v1497887323052" frameborder="0" style="border:0" allowfullscreen></iframe>

{{ end }}
