{{ define "main" }}
  <article class="l-container">
    <h2>{{ .Title }}</h2>
  <form id="lease-form" aria-busy="false" data-success-url='{{ "/form/success" | absLangURL }}' data-error-url='{{ "/form/error" | absLangURL }}'>
    <fieldset class="subscription"> 
      <input type="hidden" value="{{ .Lang }}" name="language" id="language">
      <legend>{{ i18n "abonnemang" }}</legend>
      <div class="help">
        <span class="help-icon">?</span>
        <div class="help-info">
          <p>{{ i18n "abonnemangHelp" }}</p>
          <p>{{ i18n "abonnemangHelp2" }}</p>
        </div>
      </div>
      <input type="radio" name="subscription" value="short" id="subscriptionShort">
      <label for="subscriptionShort">
        <span class="subscription-name">{{ i18n "oneSemester" }}</span>
        <span class="subscription-length">{{ i18n "atLeast5Mo" }}</span>
        <span class="subscription-cost" data-price="499">499 {{ i18n "krmo" }}</span>
      </label>
      <input type="radio" name="subscription" value="long" id="subscriptionLong" checked>
      <label for="subscriptionLong">
        <span class="subscription-name">{{ i18n "standard" }}</span>
        <span class="subscription-length">{{ i18n "atLeast10Mo" }}</span>
        <span class="subscription-cost" data-price="399">399 {{ i18n "krmo" }}</span>
      </label>
    </fieldset>
    <fieldset class="collection"> 
      <legend>{{ i18n "chosenCollection" }}</legend>
      <div id="chooseCollection">
        <p>{{ i18n "noCollectionSelected" }}</p>
        <a class="l-button" href='{{ "/collections" | absLangURL }}'>{{ i18n "pickACollection" }}</a>
      </div>
      <input type="hidden" value="" name="collection" id="collection">
        {{ range where .Site.Pages.ByTitle "Section" "collections" }}
          {{ if .Params.collection }}
            {{ .Render "selected" }}
          {{ end }}
        {{ end }}
    </fieldset>
    <fieldset> 
      <legend>{{ i18n "contactInfo" }}</legend>
      <label for="name">{{ i18n "yourName" }}</label>
      <input required autofocus type="text" name="name" placeholder='{{ i18n "yourNamePlaceholder" }}' id="name" size="30">
      <label for="email">{{ i18n "yourEmail" }}</label>
      <input required type="email" name="email" placeholder='{{ i18n "yorEmailPlaceholder"}}' id="email" size="30">
      <label for="telephone">{{ i18n "yourPhone" }}</label>
      <input required type="tel" name="telephone" placeholder='{{ i18n "yourPhonePlaceholder" }}' id="telephone" size="18">
    </fieldset>
    <fieldset> 
      <legend>{{ i18n "delivery" }}</legend>
      <label for="street">{{ i18n "street" }}</label>
      <input required type="text" name="street" placeholder='{{ i18n "streetPlaceholder" }}' id="street" size="40">
      <div>
        <div>
          <label for="postal">{{ i18n "postal" }}</label>
          <input required type="text" name="postal" placeholder='{{ i18n "postalPlaceholder" }}' id="postal" size="6">
        </div>
        <div>
          <label for="city">{{ i18n "city" }}</label>
          <input required type="text" name="city" placeholder='{{ i18n "cityPlaceholder" }}' id="city" value="Lund" disabled>
        </div>
      </div>
      <label for="room">{{ i18n "lgnr" }}</label>
      <input type="text" name="room" placeholder='{{ i18n "lgnrPlaceholder" }}' id="room" size="9">
    </fieldset>
    <fieldset> 
      <legend>{{ i18n "extra" }}</legend>
      <div class="help">
        <span class="help-icon">?</span>
        <div class="help-info">
          <p>{{ i18n "deliveryTo" }}</p>
          <p>{{ i18n "theWiderBed" }}</p>
        </div>
      </div>
      <input type="checkbox" name="homeDelivery" id="homeDelivery">
      <label for="homeDelivery">{{ i18n "inRoomDelivery" }} <span data-fee="499">499 kr</span></label>
      <input type="checkbox" name="wideBed" id="wideBed">
      <label for="wideBed">{{ i18n "aWiderBed" }}<span data-price="100">100 kr {{ i18n "mo" }}</span></label>
    </fieldset>
    <fieldset>
      <div class="help">
        <span class="help-icon">?</span>
        <div class="help-info">
          <p>{{ i18n "within5days"}}</p>
          <p>{{ i18n "leaveComment"}}</p>
        </div>
      </div>
      <legend>{{ i18n "leverans" }}</legend>
      <p>{{ i18n "leveransWhen" }}</p>
      <label for="delivery">{{ i18n "datum" }}</label>
      <input required type="date" name="delivery" placeholder='{{ i18n "datum" }}' id="delivery">
      <label for="other">{{ i18n "otherInfo" }}</label>
      <input type="text" name="other" placeholder='{{ i18n "otherInfoPlaceholder" }}' id="other" size="30">
    </fieldset>
    <fieldset style="display: none">
      <legend>{{ i18n "payment" }}</legend>
      <input type="radio" name="payment" value="1" data-name="/ mån" id="paypermonth" checked>
      <label class="label-wide" for="paypermonth">
        <span class="subscription-name">{{ i18n "perMonth" }}</span>
        <span class="subscription-length">{{ i18n "perMonthDescription" }}</span>
      </label>
      <input data-show="long" type="radio" name="payment" value="3" data-name="per kvartal" id="payperquarter">
      <label data-show="long" class="label-wide" for="payperquarter">
        <span class="subscription-name">{{ i18n "perQuarter" }}</span>
        <span class="subscription-length">{{ i18n "perQuarterDescription" }}</span>
      </label>
      <input data-show="long" type="radio" name="payment" value="6" data-name="per halvår" id="payperhalfyear">
      <label data-show="long" class="label-wide" for="payperhalfyear">
        <span class="subscription-name">{{ i18n "per6mo" }}</span>
        <span class="subscription-length">{{ i18n "per6moDescription" }}</span>
      </label>
      <input data-show="short" type="radio" name="payment" value="5" data-name="för allt" id="payall">
      <label data-show="short" class="label-wide" for="payall">
        <span class="subscription-name">{{ i18n "allAtOnce" }}</span>
        <span class="subscription-length">{{ i18n "allAtOnceDescription" }}</span>
      </label>
    </fieldset>
    <fieldset>
      <legend>{{ i18n "fakturering" }}</legend>
      <div class="help">
        <span class="help-icon">?</span>
        <div class="help-info">
          <p>{{ i18n "fakturering1" }}</p>
          <p>{{ i18n "fakturering2" }}</p>
        </div>
      </div>
      <input type="checkbox" name="useInvoiceEmail" id="useInvoiceEmail" value="useInvoiceEmail">
      <label class="label-wide" for="useInvoiceEmail">{{ i18n "fakturaEmail" }}</label>
      <div class="l-center" data-show="useInvoiceEmail" style="padding-top: 1em">
        <label for="invoiceEmail">{{ i18n "fakturaEmail2" }}</label><br />
        <input type="invoiceEmail" name="invoiceEmail" placeholder='{{ i18n "fakturaEmailPlaceholder" }}' id="invoiceEmail" size="30">
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ i18n "termsLegend" }}</legend>
      <p><a target="_blank" class="arrow-link" href='{{ "/form/contract" | absLangURL }}'>{{ i18n "termsLink" }}</a></p>
      <input required type="checkbox" name="acceptTerms" id="acceptTerms" value="acceptTerms">
      <label class="label checkbox" for="acceptTerms">{{ i18n "acceptTerms" }}</label>
    </fieldset>
    <div class="l-center">
      <div style="width: 60%; margin: 0 auto;">
        <p><i>{{ i18n "personuppgifter" }}</i></p>
      </div>
      <input role="button" class="l-button" type="submit" value='{{ i18n "order" }}'>
    </div>
    <div class="l-floating costs l-grid">
      <div>
        <p>{{ i18n "abkostnad" }}</p>
        <h2><span id="monthlyCost">399</span> kr <span id="payPeriod">{{ i18n "mo" }}</span></h2>
      </div>
      <div>
        <p>{{ i18n "enkostnad" }}</p>
        <h2><span id="feeCost">0</span> kr</h2>
      </div>
    </div>
  </form>

  </article>
  
  <script src="/js/form.js"></script>

{{ end }}
