{{ define "main" }}
<article class="l-container">
  <div class="l-columns">
    <p>Hemmlis är en ekonomisk förening och en start-up med syftet att minska möbelsvinn och på lång sikt skapa ett hållbart alternativ till möbelkonsumtion, för alla.</p>
    <p>För närvarande består styrelsen av Jimmy Sok, Malin Svensson, Rickard Styrén och Thobias Bergström. Verksamheten drivs på Stenkrossen i Lund med ekonomiskt stöd från Leapfrogs och The Creative Plot</p>
    <p>Just nu bedriver vi ett <a href="/piloten">pilotprojekt</a> som ett första steg i utvecklingen av verksamheten.</p>
  </div>
</article>

<article class="l-card l-card--solo">
  <h2>Hjälp till!</h2>
  <p>Vi söker just nu hantverkare, inredningsexperter, industridesigners, återbruksnördar och allt däremellan till vår verksamhet under sommaren. Vi behöver era idéer, tankar och er kreativa feedback kring möbelset skapade av andrahandsmöbler och återbruksmaterial för studentrum i Lund.</p>
  <p>Brinner du för återbruk och möbeldesign, och vill ta dig an att designa ett rum åt oss? <a href="/kontakt">Kom förbi</a> och ta en kaffe med oss!</p>
  <a class="l-button l-button-solo" role="button" href="mailto:info@hemmlis.se">Jag kan hjälpa!</a>
</article>

{{ end }}
