{{ define "main" }}
  <article class="l-grid l-constrained">
    <div class="l-grid-item l-grid-feature-image">
      <img style="transform:scale(-1,1)" src="/img/hemmlis-fotolj.gif">
    </div>
    <div class="l-grid-item l-grid-feature">
      <h2>{{ .Title }}</h2>
      {{ .Content }}
      <a class="l-button" role="button" href="{{ .Params.link }}">{{ .Params.join }}</a>
    </div>
  </article> 

  <section class="l-center l-divider">
    <h2>{{ .Params.subtitle }}</h2>
    {{ range .Data.Pages }}
      <article class="l-constrained-text l-article">
        <h3>{{ .Title }}</h3>
        {{ .Content }}
      </article>
    {{ end }}
    <a class="l-button l-button-solo" role="button" href="{{ .Params.link }}">{{ .Params.join }}</a>
  </section>
{{ end }}
