{{ define "main" }}

  <article class="l-card l-card--solo img-ballong">
    <h2>{{ .Title }}</h2>
    <p>Vill du flytta in till ett komplett inrett hem i höst? Och bli en av Lunds första hållbara möbelkonsumenter? Var med och testa vår affärsidé i höst! </p>
    <p>Vi förser ditt studentrum med schyssta andrahandsmöbler under hela din första termin. Vi levererar, hämtar och byter utan extra kostnader. Anmäl ditt intresse nedan så kontaktar vi dig med mer information.</p>
    <a class="l-button l-button-solo" role="button" href="mailto:info@hemmlis.se">Jag vill vara med!</a>
  </article>

{{ end }}
