/*
 * This document contains styles for keeping the
 * vertical rythm and some custom layout classes
 *
 * http://webtypography.net/2.2.1
 * http://typecast.com/blog/4-simple-steps-to-vertical-rhythm
 * http://www.cssmojo.com/block-formatting-contexts/
 */

html {
  font-size: 87.5%;
  line-height: 2;
}
h1, h2, h3, p, figure, ul {
  margin: 0;
}
h2 {
  font-size: 2.5em;
  line-height: 2rem;
  margin-bottom: 6rem;
}
p {
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
}
main {
  padding: 4rem 2em;
}
  main > * {
    margin-bottom: 6rem;
  }

[role=complementary] {
  padding: 4rem 5em;
  margin-left: -5em;
  margin-right: -5em;
}

header[role="banner"] {
  font-size: 1.1em;
  padding: 1.5rem 0;
}
  header[role="banner"] nav a {
    padding: 1rem 2em;
  }

.feature-single > p,
.feature-single > h2 {
  max-width: 30em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feature-single--long > p {
  text-align: justify;
  max-width: 100%;
}

.feature-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -2rem;
  margin-right: -2rem;
}
  .feature-grid > * {
    width: 21rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .feature-grid--padded > * {
    max-width: 19rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  .feature-grid--list > .feature-grid {
    padding-bottom: 2rem;
  }
  .feature-grid--centered div:first-child {
    text-align: right;
  }
  .feature-grid--centered p {
    margin: 0;
  }
  .feature-grid h2, .feature-grid header {
    text-align: right;
  }
  .feature-grid--photo {
    height: 100%;
    filter: saturate(0);
    opacity: 0.6;
    transform: rotate(2deg);
  }
  .feature-grid--gallery {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .feature-grid--gallery img {
    object-fit: cover;
    height: 15em;
    width: 15em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

.featured-list ol {
  line-height: 2rem;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.featured-list li {
  padding-top: 1rem;
  margin-bottom: 1rem;
}
  .featured-list li:last-child {
      margin-bottom: 0;
  }

.complementary {
  margin-top: 0;
  margin-bottom: 8rem;
}
  .complementary h2 {
    font-size: 1.5em;
    line-height: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

.text-variant {
  font-size: 0.8em;
  line-height: 2rem;
}
  .text-variant--solo {
    font-size: 1.6em;
    line-height: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

.header--tight > * {
    margin: 0;
    line-height: 1rem;
    padding-top: 1rem;
    font-size: 1.3em;
}
