@media (max-width: 780px) {
  [role=complementary] {
    padding: 4rem 0;
    width: 100%;
  }
  [role="document"] {
    max-width: 100%;
  }
  main {
    padding: 4rem 0;
  }

  .feature-grid, section > footer, [role=complementary] {
    margin-left: 0;
    margin-right: 0;
  }

  .complementary h2 {
    text-align: center;
    max-width: 100%;
  }

  .complementary::before,
  .complementary::after {
    left: 0;
    right: 0;
  }

  .feature-grid {
    justify-content: center;
  }

  .list {
    padding: 0 4em;
  }

  .feature-single--long > p {
    max-width: 90%;
  }

  header[role="banner"] h1 {
    left: 1em;
  }

  .feature-index-menu > * {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 700px) {
  .feature-grid h2, .feature-grid header {
    text-align: center;
  }
  .text-tighten--right {
    padding-left: 0;
  }
  .circle-icon {
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 auto;
  }
  .feature-grid header {
    padding-bottom:2rem;
  }
  svg.venn {
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: auto;
    right: auto;
  }
  .feature-grid > * {
    width: auto;
    max-width: 90%;
  }
  .feature-grid--photo {
    height: 10rem;
    margin-top: 2rem;
  }
  .complementary .text-variant {
    text-align: center;
  }
  .headline, .feature-index-menu p {
    max-width: 90%;
    margin: 0 auto;
  }
  .feature-index-menu-label {
    display: none;
  }

  header[role="banner"] h1 {
    display: block;
    position: relative;
    margin-bottom: 2rem;
    top:0;
    left: auto;
    text-align: center;
  }
  header[role="banner"] h1 a {
    background-position: center;
    background-size: 100%;
    display: block;
    max-width: 40%;
    margin: 0 auto;
  }
  header[role="banner"] {
    padding: 0;
  }
  [role="menubar"] {
    justify-content: space-around;
    padding: 0;
  }

}

@media (max-width: 700px) {
  [role="menubar"] {
    display: block;
    text-align: center;
  }
  header[role="banner"] nav [aria-current=page] a {
    border-top: none;
  }
  main [itemprop="address"] li {
    padding: 1rem 0;
  }
  .complementary h2 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .feature-single > p, .feature-single > h2 {
    max-width: 90%;
  }
  .featured-list li {
    padding-left: 4em;
  }
  .featured-list li::before {
    left: 0;
  }
  .feature-grid--gallery img {
    width: 100%;
  }
}
