body {
  background-color: #fff;
  font-family: 'adonis-web', 'Adonis', serif;
  color: #333;
  line-height: 1.5;
}
h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin: 0;
  user-select: none;
  cursor: default;
}
h2, .collection-description p {
  font-weight: 600;
  letter-spacing: -0.05em;
  font-size: 2.6rem;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}
h3 {
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.feature-title {
  font-size: 3rem;
  margin-bottom: 0;
}
.feature-subtitle {
  margin: 0;
  font-family: 'adonis-web', 'Adonis', serif;
  font-size: 2.5rem;
  letter-spacing: -0.03em;
  font-weight: 200;
  text-transform: none;
  margin-bottom: 1rem;
}

.arrow-links {
  list-style-type: none;
  font-size: 0.9em;
  color: #a3a3a3;
}
.arrow-links li {
  margin-bottom: 0.5em;
}
.arrow-link {
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
}
  .arrow-link::before {
    content: "\2192";
    margin-right: 0.5em;
    vertical-align: middle;
    font-size: 0.9em;
  }

.previous::before {
  content: "\2190";
  margin-right: 0.5em;
  font-size: 0.9em;
}
.next::after {
  content: "\2192";
  margin-left: 0.5em;
  font-size: 0.9em;
}

.header-sub, .collection-includes ul, .address {
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
}
p {
  font-size: 0.9rem;
  line-height: 2.2;
  margin: 0;
  margin-bottom: 1rem;
}
footer {
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 4rem;
}
footer iframe {
  margin-top: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}
  a:hover {
    color: #ccc;
  }
  p a {
    color: rgb(0, 148, 102);
  }
  footer p a {
    color: inherit;
  }
  [role=menubar] {
    margin-top: 2rem;
  }
  [role=menubar] > [role=menuitem] > a {
    font-family: 'futura-pt', 'Futura PT', sans-serif;
    letter-spacing: 0.07em;
    font-weight: 500;
    padding: 1rem;
  }
  [role=menubar] > [role=menuitem] > a:hover {
    opacity: 0.8;
  }
  [role=menubar] > [role=menuitem][aria-current=page] > a{
    opacity: 0.5;
    pointer-events: none;
  }

#hemmlis-logo {
  vertical-align: middle;
  height: 1.25em;
  max-width: 90%;
}

.l-constrained {
  max-width: 63em;
  margin: 0 auto;
  padding: 1rem;
}

.l-divider {
  margin-top: 3rem;
  padding-top: 3rem;
}

.l-constrained-content {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

.l-constrained-text p {
  margin: 2em auto;
  max-width: 30rem;
}
.l-constrained-header {
  max-width: 20rem;
  line-height: 1.2;
}
.l-article {
  margin-bottom: 6rem;
}

.l-article-img {
  float: left;
  height: 20rem;
  margin-right: 4rem;
}
.l-article-content {
  text-align: left;
}
.l-article-content h2 {
  text-align: left;
}

.l-center {
  text-align: center;
}
.l-wide {
  background-color: #fff;
}
  .l-wide-content {
    font-family: 'futura-pt', 'Futura PT', sans-serif;
    font-weight: 400;
    color: #444;
    padding: 4rem;
    max-width: 45rem;
  }

.l-container {
  max-width: 44rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.l-floating {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.l-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 4rem;
}
  .l-grid--center {
    align-items: center;
    margin-bottom: 2rem;
  }
  .l-grid--airy .l-grid-item {
    padding: 2rem;
  }
  .l-grid-item {
    width: 15rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .l-grid-img {
    width: 5rem;
    height: auto;
    margin: 1rem;
  }
  .l-grid-feature {
    text-align: left;
    width: 30rem;
  }
    .l-grid-feature h2 {
      text-align: left;
    }

  .l-grid-images img {
    width: 100%;
  }
  .l-grid-thumbnails img {
    height: 15rem;
    margin: 2rem;
  }
  .l-grid-feature-image {
    height: auto;
    margin-right: 3rem;
  }
    .l-grid-feature-image img {
      max-width: 100%;
    }

  .l-grid-feature-image-index {
    width: 25rem;
  }


.l-columns {
  column-count: 2;
  column-gap: 5rem;
}
  .l-columns p {
    margin-bottom: 2rem;
    text-align: justify;
  }
  .l-columns-header {
    column-span: all;
    margin-bottom: 2rem;
    text-align: center;
  }

.l-header {
  padding: 4rem;
  text-align: center;
}
  .l-header a:hover {
    
  }

.l-button {
  background: rgb(0, 148, 102);
  font-weight: 500;
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8rem;
  color: #fff;
  padding: 1em 2em;
  border-radius: 0.8em;
  box-shadow: 0 2px 0 rgb(0, 98, 70);
  text-align: center;
  margin-top: 2rem;
  border: none;
}
.l-button-solo {
  display: block;
  max-width: 15em;
  margin: 0 auto;
  margin-top: 4rem;
  
}
  .l-button:hover {
    background-color: rgb(1, 165, 114);
    color: #fff;
  }
  .l-button:active {
    box-shadow: inset 0 3px 1px rgb(0, 82, 60);
    background-color: rgb(0, 97, 66)
  }
.l-card {
  border-radius: 0.75rem;
  background-color: #fff;
  color: #333;
  padding: 3rem;
  position: relative;
}

.l-card--solo {
  width: 25rem;
  margin: 0 auto;
}
  .l-card--solo p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 36em;
  }

.image-header {
  width: 95%;
  margin: 0 auto;
  display: block;
}

.Collection {
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}
  .Collection section {
    border-right: 1px solid #eee;
  }
  .Collection aside {
    padding-left: 2px;
  }
  .Collection aside legend {
    position: relative;
  }
  .Collection aside fieldset {
    border-radius: 0;
  }
  .Collection aside fieldset label {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }
  .Collection aside fieldset label {
    width: 100%;
    text-align: left;
  }
  .Collection aside fieldset p {
    color: #ccc;
    font-size: 0.8em;
  }
  .Collection footer {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    position: relative;
    border-bottom: 1px solid #eee;
    color: #a3a3a3;
  }
  .Collection footer ul {
    list-style-type: none;
    font-size: 0.8em;
    text-align: left;
    line-height: 2;
  }
  
  .Collection footer h1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
.collection-images {
  text-align: center;
}
.collection-grid {
  padding: 3rem;
  border-bottom: 1px solid #bbb;
  margin: 0;
}
.collection-description {
  width: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}
  .collection-description p {
    line-height: 1.2;
    font-size: 1.7rem;
    margin: 0;
}
.collection-includes {
  border-left: 1px solid #bbb;
}
  .collection-includes ul {
    margin: 1rem 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
  }

.card {
  border-radius: 0.75rem;
  border: 1px solid #bbb;
  padding: 0.8rem;
  position: relative;
  user-select: none;
  cursor: default;
  color: #000;
  transition-property: all;
  transition-duration: 100ms;
  user-select: none;
}
  .card-alt {
    background-color: #f9f9f9;
    padding: 1.1rem 2.6rem;
  }
  .card:hover, .card:active, .card:focus {
    background-color: #fff;
    border-color: #000;
    transform: scale(0.95);
    z-index: 1;
    outline: none;
  }
  .card-contents {
    height: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .card-description {
    text-align: center;
    font-size: 0.9rem;
    margin: 0;
    padding: 0 1em;
    line-height: 1.5;
    margin-top: 2em;
  }

.l-card--wide {
  width: 44rem;

}
.img-soffa {
  background-image: url('/img/hemmlis-soffa.gif');
}
.img-mobler-01 {
  background-image: url('/img/hemmlis-mobler-01.gif');
}
.img-mobler-02 {
  background-image: url('/img/hemmlis-mobler-02.gif');
}
.img-post {
  background-image: url('/img/hemmlis-post.gif');
}
.img-rekond {
  background-image: url('/img/hemmlis-rekond.gif');
}
.img-fotolj {
  background-image: url('/img/hemmlis-fotolj.gif');
}
.img-ballong::after {
  content: "";
  display: block;
  width: 14rem;
  height: 22rem;
  position: absolute;
  right: -9rem;
  background-image: url('/img/hemmlis-ballong.gif');
  bottom: -8rem;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.img-solo {
  max-width: 16rem;
  margin: 6rem auto;
  display: block;
}
.footer-image {
  max-width: 6rem;
  margin: 0 auto;
  display: block;
  padding-bottom: 4rem;
  transform: rotate(-45deg);
}

.collection-collage {
  position: relative;
  width: 140px;
  height: 140px;
  transform: scale(0.5);
}

.collection-collage-image {
  position: absolute;
  transition-property: all;
  transition-duration: 100ms;
  width: auto !important;
  max-height: 140px;
}
  .collection-collage-image:nth-child(1) {
    left: -50px;
  }
  .collection-collage-image:nth-child(2) {
    left: -30px;
    top: -30px;
  }
  .collection-collage-image:nth-child(3) {
    top: -50px;
  }
  .collection-collage-image:nth-child(4) {
    top: -30px;
    right: -30px;
  }
  .collection-collage-image:nth-child(5) {
    right: -50px;
  }
  .collection-collage-image:nth-child(6) {
    bottom: -30px;
    right: -30px;
  }
  .collection-collage-image:nth-child(7) {
    bottom: -50px;
  }
  .collection-collage-image:nth-child(8) {
    bottom: -30px;
    left: -30px;
  }

.collection-collage:hover {
  z-index: 100;
}
  .collection-collage:hover 
  .collection-collage-image:nth-child(1) {
    left: -100px;
  }
  .collection-collage:hover 
  .collection-collage-image:nth-child(2) {
    left: -60px;
    top: -60px;
  }
  .collection-collage:hover 
  .collection-collage-image:nth-child(3) {
    top: -100px;
  }
  .collection-collage:hover 
  .collection-collage-image:nth-child(4) {
    top: -60px;
    right: -60px;
  }
  .collection-collage:hover 
  .collection-collage-image:nth-child(5) {
    right: -100px;
  }
  .collection-collage:hover 
  .collection-collage-image:nth-child(6) {
    bottom: -60px;
    right: -60px;
  }
  .collection-collage:hover 
  .collection-collage-image:nth-child(7) {
    bottom: -100px;
  }
  .collection-collage:hover 
  .collection-collage-image:nth-child(8) {
    bottom: -60px;
    left: -60px;
  }
  .collection-collage-selected {
    height: 140px;
  }
  .collection-collage-selected img {
    width: 30px;
    margin-top: 2em;
  }
  
  fieldset.collection {
    text-align: center;
    font-family: 'futura-pt', 'Futura PT', sans-serif;
  }

.collection-image {
  position: relative;
  display: inline-block;
}
.outStock {
  pointer-events: none;
  opacity: 0.5;
}
.collection-head {
  position: relative;
}
.collection-title {
  position: absolute;
  top: 0.5rem;
  right: 5.5rem;
  color: #fff;
  font-size: 5rem;
  text-shadow: 0 0 0.5em rgba(0,0,0,0.3);
  letter-spacing: -0.02em;
}
.img-description {
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  font-weight: 400;
  color: #fff;
  position: absolute;
  bottom: 0em;
  right: 0.5em;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.step-number {
  border: 1px solid;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  position: relative;
  background-color: #fff;
}
  .step-number::before {
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 14px solid #fff;
    content: "";
    border-radius: 50%;
  }
  .numbered-article {
    position: relative;
  }
    .numbered-article::before {
      content: "";
      position: absolute;
      top: 1em;
      left: 0;
      right: 0;
      border-bottom: 1px solid #ccc;
    }

.map {
  height: 35rem;
  max-width: 70rem;
  width: 90%;
  margin: 1rem auto;
}

.address {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  .address li {
    margin: 0.5rem 0;
  }

.control-panel a {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  margin: 0 1rem;
}
.language-selector {
  position: absolute;
  top: 1rem;
  right: 2rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  text-transform: uppercase;
}
  .language-selector li {
    display: inline-block;
  }

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}
form[aria-busy="true"] {
  cursor: wait;
}
form[aria-busy="true"] input[type="submit"] {
  pointer-events: none;
  animation: pulse 450ms infinite;
  animation-direction: alternate;
}
fieldset {
  position: relative;
}
fieldset > * {
  display: block;
}
fieldset div > div {
  display: inline-block;
}
fieldset div > div > * {
  display: block;
  margin-right: 1em;
}
legend {
  font-weight: bold;
  padding: 0 1em;
  border-radius: 0.4em;
  text-align: center;
  font-size: 1.1em;
  text-shadow: 0 1px 0 #fff;
  letter-spacing: -0.02em;
}
label {
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  margin-bottom: 0.1em;
  padding-left: 0.2em;
  font-size: 0.8em;
}
input, textarea {
  font-family: 'futura-pt', 'Futura PT', sans-serif;
  margin-bottom: 1.25em;
  border-radius: 0.35em;
  border: 1px solid #d8d8d8;
  padding: 0.6em 0.6em;
}
fieldset {
  border: 0;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 2em;
  width: 20em;
  margin-bottom: 4em;
  border-radius: 0.75rem;
}
  fieldset p {
    font-family: 'futura-pt', 'Futura PT', sans-serif;
    margin: 0;
    margin-bottom: 1.25em;
    padding: 0;
  }

input[type="checkbox"] + label,
input[type="radio"] + label {
  padding: 1em;
  border: 1px solid #999;
  border-radius: 0.66em;
}

input[type="checkbox"] + label {
  margin-bottom: 1em;
}

input[type="checkbox"] + label:hover,
input[type="radio"] + label:hover {
  border-color: #333;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  background-color: rgb(0, 148, 102);
  border-color: rgb(0, 148, 102);
  color: #fff;
}

/* .subscription {
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: space-around;
}
.subscription label {
  width: 50%;
} */

.subscription {
  text-align: center;
}
.subscription label {
  width: 40%;
}

.subscription-name,
.subscription-cost,
.subscription-length {
  display: block;
  float: none !important;
  text-align: center;
  line-height: 2;
}

.subscription-name {
  font-size: 1.5em;
  font-weight: bold;
}


span[data-price],
span[data-fee] {
  float: right;
  font-weight: bold;
}

.partner-image {
  display: none;
}

.costs {
  background-color: #fff;
  border-top: 1px solid #eee;
  padding: 1em 0 0.2em 0;
  margin-top: 4em;
}
  .costs div {
    padding: 0 2em 0 2em;
  }
  .costs div:first-child {
    border-right: 1px solid #eee;
  }
  .costs h2 {
    text-align: left;
  }
  .costs p {
    font-family: 'Futura PT', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .label-wide {
    display: block !important;
    width: 85%;
    margin: 0.5em auto;
  }

.is-hidden {
  display: none !important;
}

.help:hover .help-info {
  display: block;
}

  .help-icon {
    background: #fff;
    width: 2em;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 2;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 1.2rem;
    right: 0.4rem;
    font-size: 0.8em;
  }

  .help-info {
    display: none;
    background: rgba(255,255,255,0.95);
    padding: 1em;
    position: absolute;
    top: 2em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    border-radius: 0.5em;
    text-align: center;
    overflow-y: auto;
  }
    .help-info p {
      line-height: 1.6;
    }

.Blog h3 {
  margin-top: 3rem;
  margin-bottom: 1.3rem;
}
.Blog img {
  max-width: 100%;
}
.Stories {
  margin-top: 5em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Story {
  width: 16em;
  text-align: center;
  margin: 2em;
}
  .Story p {
    margin-top: 0.5em;
  }
  .Story h3 {
    font-size: 0.9em;
    text-transform: capitalize;
    margin-bottom: 0.5em;
  }
  .Story h2 {
    margin-bottom: 0.4em;
  }

@media (max-width: 650px) {
  .card {
    max-width: 100%;
    width: 100%;
  }
  .image-header {
    width: 100%;
  }
  .collection-description {
    width: 100%;
  }
  .l-constrained, .l-constrained-text {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .l-grid-feature, .l-grid-feature-image-index {
    width: 100%;
  }
  .l-card--solo {
    width: 75%;
    padding: 10%;
  }
  .l-columns {
    column-count: 1;
    padding: 0 2em;
  }
  [role=menubar] {
    display: block;
  }
  [role=menubar] > [role=menuitem] > a {
    padding: 0.5rem 0;
    display: block;
  }
  .l-grid-feature-image {
    margin-right: 0;
  }
  .collection-includes {
    border-left: none;
  }
  .collection-grid {
    border-bottom: none;
    padding: 2rem 1rem;
  }
}
