{{ define "main" }}
  <article>
    <img class="image-header" src="{{ .Params.image }}">
    <div class="l-grid l-constrained">
      <div class="l-grid-item collection-grid collection-description">
        {{ .Content }}
      </div>
      {{ if .Params.includes }}
        <div class="l-grid-item collection-grid collection-includes">
          <h3>{{ i18n "includesTitle" }}</h3>
          <ul>
            {{ range .Params.includes }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </article>
  <div class="l-center control-panel">
    {{if .PrevInSection}}
      <a href="{{.PrevInSection.Permalink}}">{{ i18n "previousCollection" }}</a>
    {{end}}
    {{if .NextInSection}}
      <a href="{{.NextInSection.Permalink}}">{{ i18n "nextCollection" }}</a>
    {{end}}
  </div>
{{ end }}
