{{ define "main" }}

  <article class="Collection">
    
    <section>
      
      <div class="l-center l-grid l-grid-thumbnails">
        {{ range .Params.furniture }}
          <img src="{{ $.Site.Params.cloudinary }}e_trim/h_480,w_480,c_pad/{{ . }}">
        {{ end }}
      </div>

      <footer>
        <ul>
          <li>{{ i18n "contains" }} {{ len .Params.furniture }} {{ i18n "furniture" }}</li>
          <li>{{ i18n "added" }} <time datetime="">{{ dateFormat "2006-01-02" .Params.date }}</time></li>
        </ul>
        <h1><span class="marker" data-color='{{ .Params.collection }}'></span>#{{ .Params.collection }}</h1>
      </footer>

      <div class="l-center l-grid control-panel">
        {{if .NextInSection}}
          <a class="l-grid-item previous" href="{{.NextInSection.Permalink}}">{{ i18n "previousCollection" }}</a>
        {{end}}
        {{if .PrevInSection}}
          <a class="l-grid-item next" href="{{.PrevInSection.Permalink}}">{{ i18n "nextCollection" }}</a>
        {{end}}
      </div>

    </section>

    <aside>
        <form method="GET" action='{{ "/form" | absLangURL }}'>
            <fieldset class="subscription"> 
              <legend>{{ i18n "orderCollection" }}</legend>

              <input type="hidden" name="collection" id="collection" value="{{ .Params.collection }}">

              <input type="checkbox" name="wideBed" id="wideBed">
              <label for="wideBed">{{ i18n "widerBed" }}<span data-price="100">100 kr {{ i18n "mo"}}</span></label>

              <input disabled role="button" class="l-button outStock" type="submit" value='{{ i18n "rentNow"}}'>

              <p>{{ i18n "rentDisclaimer"}}</p>
            </fieldset>
        </form>

        <ul class="arrow-links">
          <li><span class="arrow-link">{{ i18n "roomSize"}}</span></li>
          <li><span class="arrow-link">{{ i18n "collectionDisclaimer"}}</span></li>
          <li><span class="arrow-link">{{ i18n "bedDisclaimer"}}</span></li>
          <li><span class="arrow-link">{{ i18n "mattressPadDisclaimer"}}</span></li>
        </ul>
    </aside>

  </article>

  <script src="/js/collections.js"></script>
{{ end }}
