{{ partial "header.html" . }}

<section class="l-grid l-constrained">
  <article class="l-grid-item card" tabindex="2">
    <span class="card-number">1</span>
    <div class="card-contents img-soffa"></div>
    <p class="card-description">Vi samlar in möbler från privatpersoner, återvinningscentraler och second hand-affärer.</p>
  </article>
  <article class="l-grid-item card" tabindex="2">
    <span class="card-number">2</span>
    <div class="card-contents img-rekond"></div>
    <p class="card-description">Vi fixar till möblerna och sätter ihop snygga möblemang i olika stilar.</p>
  </article>
  <article class="l-grid-item card" tabindex="2">
    <span class="card-number">3</span>
    <div class="card-contents img-mobler-02"></div>
    <p class="card-description">Du hittar det möblemang du gillar och hyr det av oss.</p>
  </article>
  <article class="l-grid-item card" tabindex="2">
    <span class="card-number">4</span>
    <div class="card-contents img-post"></div>
    <p class="card-description">Vi levererar till din dörr.</p>
  </article>
  <article class="l-grid-item card" tabindex="2">
    <span class="card-number">5</span>
    <div class="card-contents img-mobler-01"></div>
    <p class="card-description">Om du vill byta ut ditt möblemang kommer vi och fixar det åt dig!</p>
  </article>
  <article class="l-grid-item card" tabindex="2">
    <span class="card-number">6</span>
    <div class="card-contents img-fotolj"></div>
    <p class="card-description">Vi samlar in möblerna, fräschar upp dem och hyr ut igen.</p>
  </article>
</section>

<section class="l-wide">
  <article class="l-columns l-wide-content l-constrained">
    <h3 class="l-columns-header">Vad är Hemmlis?</h3>
    <p>Vår idé är att hyra ut möbler till unga vuxna med en flexibel bostadssituation. Vi åstadkommer detta genom att återbruka gamla möbler vilket möjliggör betydande miljö- och kvalitetsförbättringar jämfört med att konstruera nytt.</p>
    <p>Under sommaren och hösten 2017 kommer vi att genomföra ett pilotprojekt där vi skall hyra ut ungefär tjugo rum till olika studenter i Lund för att analysera de behov och önskemål som finns hos kunderna. Vi hoppas kunna lansera idén i stor skala under 2018 och vill på sikt sprida oss utanför Lund och studentvärlden.</p>
  </article>
</section>

{{ partial "footer.html" . }}
