      </main>

      <footer>

        <div class="l-grid l-grid--center">
          <a href="http://www.stenkrossen.se/" target="_blank"><img class="l-grid-img" src="/img/stenkrossen.png"></a>
          <a href="http://www.thecreativeplot.se/" target="_blank"><img class="l-grid-img" src="/img/creative-plot.svg"></a>
          <a href="http://www.leapfrogs.se/" target="_blank"><img class="l-grid-img" src="/img/leapfrogs.png"></a>
          <a href="https://www.rostangamolla.se/%C3%85terbruket-MYLLAN-Marieholms-Yllefabrik" target="_blank"><img class="l-grid-img" src="/img/rostonga.png"></a>
          <a href="http://www.emmausfredriksdal.se/" target="_blank"><img class="l-grid-img" src="/img/emmaus.png"></a>
          <a href="http://www.vinnova.se/" target="_blank"><img class="l-grid-img" src="/img/vinnova.svg"></a>
        </div>

        <p>info@hemmlis.se &bull; <a href="https://www.facebook.com/Hemmlis/">{{ i18n "facebookLinkText" }}</a> &bull; Lund, Sverige</p>
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FHemmlis%2F&width=67&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId=1896901067234289" width="75" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </footer>
    </body>
  </html>
